<!DOCTYPE html>
<html lang="en" class="ie_11_scroll">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="hhhwidth=device-width, initial-scale=1">
        <title>AVS</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'music/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'music/css/font-awesome.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'music/css/templatemo_style.css' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    </head>
    <body>


    	<!-- navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container-fluid">

		        <!-- Header -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="{% url 'avs:home' %}">AVS</a>
		        </div>

		        <!-- Items -->
		        <div class="collapse navbar-collapse" id="topNavBar">
		            <ul class="nav navbar-nav">
		                <li class="{% block songs_active %}{% endblock %}"><a href="#templatemo_features" class="scroll_effect"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp; Category</a></li>
		            </ul>
		    
		            <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'avs:submissions' %}">
                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp; Submissions
                            </a>
                        </li>
		                <li>
		                    <a href="{% url 'avs:scoreboard' %}">
		                        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>&nbsp; Scoreboard
		                    </a>
		                </li>
		                <li>
		                    <a href="{% url 'avs:logout_user' %}">
		                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
		                    </a>
		                </li>
		            </ul>
		        </div>

		    </div>
		</nav>
        <!-- Home -->
        <section id="templatemo_home">
            <div class="container">
                <div class="templatemo_home_inner_wapper">
                    <h1 class="text-center"><i class="fa fa-rocket"></i> AVS</h1>
                </div>
                <div class="templatemo_home_inner_wapper">
                    <h2 class="text-center">Code, Compile, Propel</h2>
                    <p class="text-center">
                        This is an online judge 
                        for you to submit and solve 
                        interesting coding problems.
                    </p>
                </div>
             
            </div>
        </section>


        <!-- Categories -->
        <section id="templatemo_features">
            <div class="container-fluid">
                <header class="template_header">
                    <h1 class="text-center"><span>...</span> Categories <span>...</span></h1>
                </header>

                {% for k in dic %}
                <div class="col-sm-12">
                	{% for g in k %}
                	<a href="{% url 'avs:QuestionsList' Cid=g.Cid %}">
	                    <div class="col-sm-6 col-lg-4 feature-box">
	                    	
	                        <div class="feature-box-inner">
	                            <div class="feature-box-icon">
	                                <i class="fa fa-puzzle-piece"></i>
	                            </div>
	                            <p style='color:black'>
	                                {{ g }}
	                            </p>
	                        </div>
	                        
	                    </div>
                	</a>
                    {% endfor %}
                </div>   
                {% endfor %}
            </div>
        </section>



      
        <!-- Contact -->
        <section id="templatemo_contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <header class="template_header">
                            <h1 class="text-center"><span>...</span> Contact <span>...</span></h1>
                        </header>
                        <p class="text-center">
                            <i class="fa fa-map-marker"></i> NITK,Surathkal,Karnataka<br />
                            <i class="fa fa-envelope"></i> Email: <a href="mailto:info@company.com">nitksubbu@gmail.com</a><br />
                            <i class="fa fa-phone"></i> Phone: <a href="tel:010-020-0340">010-020-0340</a>
                        </p>
                    </div>
                </div>
                <form role="form" action="#" method="post">
                	{% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="text" name="name" class="form-control" id="contact-name" placeholder="Name" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-at"></i></div>
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                            <textarea name="message" class="form-control" id="contact-message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6 col-xs-offset-6">
                            <button type="submit" class="form-control">Send</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <ul class="nav nav-pills social">
                            <li><a href="#" class="shadow-top-down social-facebook"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href="#" class="shadow-top-down social-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" class="shadow-top-down social-youtube"><i class="fa fa-youtube-square"></i></a></li>
                            <li><a href="#" class="shadow-top-down social-instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>



        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 footer-copyright">
                        <p>Copyright &copy; 2016 <a href="#" target="_parent">AVS</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{% static 'music/js/jquery.min.js' %}"></script>
        <script src="{% static 'music/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'music/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'music/js/jquery.parallax.js' %}"></script>
        <script src="{% static 'music/js/templatemo_scripts.js' %}"></script>
    </body>
</html>