{% extends 'avs/base_visitor_new.html' %}
{% block title %}Home{% endblock %}

{% block body %}

<div style = "margin-top:30px"/>
<div class = "col-lg-12 text-center" style = "font-family: 'Montserrat', sans-serif;margin-bottom:30px">
  <h2 class="section-heading" style="font-size: 60px; font-style:bold;">CATEGORIES</h2>
</div>
{% for k in dic %}
<div class="container">    
  <div class="row">
    {% for g in k %}
    <div class="col-sm-4">
      <div class='circle-multiline' style = "font-family: 'Montserrat', sans-serif;">
        <a href="{% url 'avs:QuestionsList' Cid=g.Cid %}">
          <span style='font-size: 2em;color:white;'>{{ g }}</span> 
        </a> 
      </div>
    </div>
    {% endfor %}
    
  </div>
</div>
{% endfor %}

<footer class="container-fluid text-center">
  <p>Copyright</p>
</footer>
{% endblock %}